---
title: Niklogs
changeFreq: daily
pagination:
  data: collections.posts
  size: 5
  reverse: true
  alias: posts
permalink: "./{% if pagination.pageNumber > 0 %}/pages/{{ pagination.pageNumber | plus: 1 }}/{% endif %}index.html"
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="google-site-verification" content="EWJR1uI6RMmp_IV5pJkW4yIL8_H-A0m4FZQyfcy9P4w" />
		<link rel="stylesheet" href="{{ '/static/prism/prism.css' | url }}" />
		<link rel="stylesheet" href="{{ '/static/styles.css' | url }}">
	  <!-- RSS feeds -->
	  <link rel="alternate" href="{{ site.url }}/feed.xml" type="application/atom+xml" 
		    title="niklogs | nikhilmwarrier">
		<title>{{ title }}</title>
		
		  <!--[if lt IE 9]>
			  <script src="{{ '/js/html5shiv.js' | url }}"></script>
			<![endif]-->
		
			<script src="{{ '/prism/prism.js' | url }}" defer></script>
			<script src="{{ '/static/js/app.js' | url }}" defer></script>
		
	</head>
	<body id="top">
	  <div class="gradient-line"></div>
		{% include navbar %}
		<main>
			{% for post in posts %}
			  <div class="post" onclick="window.location.href = '{{ post.url | url }}'">
			  {% if post.data.cover-image-alt-text %}
			  		<img loading="lazy" src="{{ post.data.cover-image | url }}" alt="{{ post.data.cover-image-alt-text }}">
			  {% else %}
			    <img loading="lazy" src="{{ post.data.cover-image | url }}" alt="Post Preview Image">
			  {% endif %}
			  	<div class="content">	
			  		<h2>{{ post.data.title }}</h2>
			  		<p>
			  			{{ post.data.snippet }} <br />
			  			<a href="{{ post.url | url }}">Read More</a>
			  			<br />
			  			<em class="post-date">{{ post.date | date: "%b %d, %Y" }}</em>
			  		</p>
			  	</div>
			  </div>
			{% endfor %}
			
			<div class="pagination">
			  {% if pagination.href.previous %}
			    <a href="{{ site.url }}/{{pagination.href.previous}}">Previous Page</a>
			  {% endif %}
			  {% if pagination.href.next %}
			    <a href="{{ site.url }}/{{pagination.href.next}}">Next Page</a>
			  {% endif %}
			</div>
		</main>
		{% include footer %}
	</body>
</html>
