<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="google-site-verification" content="EWJR1uI6RMmp_IV5pJkW4yIL8_H-A0m4FZQyfcy9P4w" />
		<link rel="stylesheet" href="static/prism/prism.css" />
		<link rel="stylesheet" href="static/styles.css">
		  <!-- RSS feeds -->
		  <link rel="alternate" href="https://nikhilmwarrier.github.io/blog/feed.xml" type="application/atom+xml" 
		    title="niklogs | nikhilmwarrier">
		{% comment %} <style>
			{% include shared_styles %}
			{% include index_styles %}
		</style> {% endcomment %}
		<title>{{ title }}</title>
		<!--[if lt IE 9]>
			<script src="js/html5shiv.js"></script>
		<![endif]-->
		<script src="static/js/app.js" defer></script>
	</head>
	<body id="top">
		{% include navbar %} {% comment %} {% include navbar %} {% include sidebar
		%} {% endcomment %}
		<main>
			{{ content | safe }}
			{% for post in collections.posts reversed %}
			<div class="post" onclick="window.location.href = '.{{ post.url }}'">
					<img src="{{ post.data.cover-image | url }}" alt="post.data.cover-image">
				<div class="content">	
					<h2>{{ post.data.title }}</h2>
					<p>
						{{ post.data.snippet }} <br />
						<a href=".{{ post.url }}">Read More</a>
						<br />
						<em class="post-date">{{ post.date | date: "%b %d, %Y" }}</em>
					</p>
				</div>
			</div>
			{% endfor %}
		</main>
		{% comment %} {% include footer %} {% endcomment %}
		<script src="./prism/prism.js"></script>
	</body>
</html>
