<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ snippet }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ snippet }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:image" content="{{ site.url }}/{{ cover-image }}">
    {% if cover-image-width %}
    <meta property="og:image:width" content="{{ cover-image-width }}" />
    {% endif %}
    {% if cover-image-height %}
    <meta property="og:image:height" content="{{cover-image-height }}" />
    {% endif %}
    {% if cover-image-alt-text %}
    <meta property="og:image:alt" content="{{cover-image-alt-text }}" />
    {% endif %}
    <meta name="twitter:card" content="summary_large_image" /
    <!-- RSS feeds -->
    <link rel="alternate" href="https://nikhilmwarrier.github.io/blog/feed.xml" type="application/atom+xml" title="niklogs | nikhilmwarrier">
    <link rel="stylesheet" href="../../static/prism/prism.css" />
    <link rel="stylesheet" href="../../static/styles.css" />
    <title>{{ title }}</title>
    <!--[if lt IE 9]>
			<script src="../../static/js/html5shiv.js"></script>
		<![endif]-->
		<script src="../../static/js/app.js" defer></script>
  </head>
  <body>
   <div class="gradient-line"></div>
  {% include navbar %} 
    <main>
      {{ content | safe }}
      <div class="post-date">
        <em>Date posted: {{ date | date: "%b %d, %Y" }}</em>
        <br />
        <em>Last updated: {{ last-updated | date: "%b %d, %Y" }}</em>
      </div>
      {% comment %} {% include comments %} {% endcomment %}
      <hr />
      <script src="https://giscus.vercel.app/client.js"
        data-repo="nikhilmwarrier/blog"
        data-repo-id="MDEwOlJlcG9zaXRvcnkzNzAyOTU2Njc="
        data-category-id="MDE4OkRpc2N1c3Npb25DYXRlZ29yeTMyOTYxNDg0"
        data-mapping="pathname"
        data-theme="preferred_color_scheme"
        crossorigin="anonymous"
        async>
      </script>
    </main>
    {% include footer  %}
    <script src="../../static/prism/prism.js"></script>
  </body>
</html>
